# Dependências
node_modules/
QA/Supertest-API/mochawesome-report/


# Arquivos de ambiente
.env
.env.example

# Logs
logs
*.log
npm-debug.log*

# Diretório de uploads
src/backend/uploads/*
!src/backend/uploads/usuarios/.gitkeep
!src/backend/uploads/pacientes/.gitkeep

# Arquivos do sistema
.DS_Store
Thumbs.db